{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
</head>

<body style="background-color: #DEEAEA">
	<div class="left_aligned">
    	<h3>Profile</h3>
	</div>
	<div class="center_aligned">
		<br>
		<table align="center">
        {% for bio in bio_dict %}
         <tr>
             <td class="subject">{{ bio.subject }}</td>
             <td class="value">{{ bio.value }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="http://databse-bmnc.herokuapp.com/newsdraft" target="_parent" align="center"><button>Daftar Berita</button></a>
	</div>
</body>

</html>

{% endblock %}