{% extends "layout/base.html" %}


{% block content %}
{% load static %}

<!-- <div class="signup container wrap-login100"> -->
<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
  <div class="signup container wrap-login100">
      <form action="{% url 'signup:regist' %}" method="POST">
        {% csrf_token %}
        <h1>Sign Up</h1>
        <legend><span class="number">1</span>Your basic info</legend>
        <fieldset>
        <label for="role" onchange="roleSignUp()">Role:</label>
        <select id="role" name="role">
          <option value="student">Mahasiswa</option>
          <option value="lecturer">Dosen</option>
          <option value="staff">Staff</option>
        </select>

          <label for="username">Username:</label>
          <input type="text" id="username" name="username">

          <label for="password">Password:</label>
          <input type="password" id="password" name="password">

          <label for="idNum">ID:</label>
          <input type="text" id="idNum" name="idNum">
        </fieldset>
        <fieldset>
          <legend><span class="number">2</span>Your Profile</legend>
          <label for="name">Nama:</label>
          <input type="text" id="name" name="name">


          <label for="birthdate">Tanggal Lahir:</label>
          <input type="text" id="birthdate" name="birthdate">
          <label for="birthplace">Tempat Lahir:</label>
          <input type="text" id="birthplace" name="birthplace">

          <label for="email">Email:</label>
          <input type="email" id="email" name="email">

          <label for="phone">No. Telepon:</label>
          <input type="text" id="phone" name="phone">
        </fieldset>

          <div id="additional"></div>
        <div class="row justify-content-center">
          <button type="submit" class="login100-form-btn">Sign Up</button>
        </div>
        <div class="row justify-content-center" style="color:black">
          <small style="text-align:center"><a href="/login/">Already have the account</a></small>
        </div>
      </form>
    </div>
</div>
{% endblock %}
