body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #fbf7fc;
}

.contain-berita, .no-berita {
	position: relative;
	margin: auto 10rem;
	top: 10rem;
	background: linear-gradient(#ffb7e7, #fffc7a);
	
}