{% extends "layout/base.html" %}

{% block content %}

<h2>Buat Polling Biasa</h2>

<div class="contain-form">
	<div class="form-web">
		<form id="form" method="POST" action="{% url 'create:add_polling_biasa' %}">
			{% csrf_token %}
			{{ pollingBiasa_form }}
			<input id="submit" type="submit" class="input-btn" value="Submit">
		</form>	
	</div>
</div>


{% endblock %}
