{% extends "layout/base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <title>Poll Draft</title>
</head>

<body>
	<br>
	<br>
		<h1><b>Tidak ada polling</b></h1>
</body>



</html>


{% endblock %}

