{% extends "layout/base.html" %}

{% block content %}
{% load staticfiles %}
<div class="berita">
	{% if berita %}
		<div class="contain-berita">
			{% for artikel in berita reversed %}
				<div class="berita-artikel">
					<div class="berita-judul">
						Judul: {{artikel.judul}}
					</div>
					<div class="berita-url">
						Url: {{artikel.url}}
					</div>
					<div class="berita-topik">
						Topik: {{artikel.topik}}
					</div>
					<div class="berita-jumlahKata">
						Jumlah Kata: {{artikel.jumlahKata}}
					</div>
					<!--
					<a href="/message/delete_surat/{{ post.id }}">
						<div class="post-delete">
							HAPUS
						</div>
					</a>
					-->
				</div>
			{% endfor %}
		</div>
		
	{% else %}
		<div class="no-berita">
			Belum ada berita
		</div>
	{% endif %}
</div>


{% endblock %}
