*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.signup {
  font-family: 'Nunito', sans-serif;
  color: white;
}

h1 .signup{
  /*margin: 0 0 30px 0;*/
  text-align: center;
}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="date"],
.signup input[type="datetime"],
.signup input[type="email"],
.signup input[type="number"],
.signup input[type="search"],
.signup input[type="tel"],
.signup input[type="time"],
.signup input[type="url"],
.signup textarea,
.signup select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;

  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  text-decoration-color: white;
}

.signup select input{
  padding: 6px;
  height: 32px;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border-width: 1px 1px 3px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

.signup fieldset{
  margin-bottom: 30px;
  border: none;
}

.signup legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.signup label{
  display: block;
  margin-bottom: 8px;
}

label .light .signup{
  font-weight: 300;
  display: inline;
}

.number {
  background-color: black;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  .signup form{
    max-width: 480px;
  }

}
