body {
	margin: 0;
	padding: 0;
}

h2 {
	margin-top: 5rem;
}

.contain-form {
	background: linear-gradient(#ffb7e7, #fffc7a);
	margin: 5rem auto;
	width: 50%;
	border-radius: 10px;
	padding: 2rem;
}

form {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

input {
	max-width: 300px;
	min-width: 30%;
	height: 2rem;
	margin: 0.3rem auto;
}

input[type=text] {
	border-radius: 10px;
	padding: 0 0.5rem;
	font-size: 1rem;
	border: none;
}

input[type=submit] {
	border: none;
	border-radius: 10px;
	width: 50%;
	font-size: 1rem;
	padding: 0.5rem;
	background-color: #0a3170;
	color: #fff;
}