table{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

tr {
    text-align: left;
    padding: 3rem;
}

td {
  padding: 1rem;
}


h3 {
  color: #000000;
  font-size: 1,5rem;
  margin: 2rem;
  top: 50%;
  left: 50%;
  font-weight: bolder;
}

img{
  border-radius: 100%;
}

h4{
  color: #000000;
  font-size: 2rem;
  text-align: center;
}

.subject{
    font-size: 20px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
.value{
    font-size: 20px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.expertise{
  font-size: 20px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-variant-position: center;
}

.expertise_value{
  font-size: 20px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

.left_aligned {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 2rem;
  -ms-transform: translateX(-30%) translateY(-50%);
  -webkit-transform: translate(-30%,-50%);
  transform: translate(-30%,-50%);
  font-family: 'Open Sans', sans-serif;
}
.center_aligned {
  position:absolute;
  width: 100%;
  margin-top: 15rem;
  font-family: 'Open Sans', sans-serif;
  /*
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  */
}

.center_aligned img{
  display: block;
  margin: auto;
  overflow: hidden;
  max-width: 10rem;
  max-height: 10rem;
}