{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kelompok 9</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===================================LOGIN===================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!-- <link rel="stylesheet" type="text/css" href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}"> -->

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- admin front -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <!-- -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">


<!--====================================SIGN UP==================================================-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <!--===================CREATE================-->
  <link rel="stylesheet" href="{% static 'css/app_create.css' %}">
  <link rel="stylesheet" href="{% static 'css/berita.css' %}">

  <link rel="stylesheet" href="{% static 'css/newsdraft.css' %}">
  <link rel="stylesheet" href="{% static 'css/polling.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <header>
        {% include "partials/header.html" %}
    </header>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- select2 harus mendahului script yg lain -->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'vendor/select2/select2.min.js'%}"></script>
    <script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
    <script src="{% static 'vendor/countdowntime/countdowntime.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'function.js'%}"></script>
</body>
</html>
